body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #e6e6e6;
}
img.logo {
    max-width: 100%;
    max-height: 100px; /* Ubah angka ini sesuai selera: 80px / 120px / 150px */
    display: block;
    margin: 0 auto 20px auto;
    object-fit: contain;
}


.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0,0,0,0.05);
}

.card {
    width: 420px;
    background: white;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    text-align: center;
}

.title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}

.green {
    color: #0AA68F;
}

.social img {
    width: 28px;
    margin: 5px;
    cursor: pointer;
}

input {
    width: 100%;
    margin-top: 12px;
    padding: 12px;
    background: #f0f0f0;
    border: none;
    border-radius: 8px;
}

.btn {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #0AA68F;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
}

.forgot {
    display: block;
    text-align: right;
    font-size: 13px;
    margin-top: 5px;
}

.switch {
    margin-top: 15px;
}

.error {
    color: red;
    font-size: 14px;
}
.success {
    color: green;
}
